.parent {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 17px;
  }
  
  .div1 { grid-area: 1 / 5 / 6 / 9; 
    /* border-color: blue;
    border-style: dashed; */
  }
  .div2 { grid-area: 1 / 1 / 5 / 5; 
    /* border-color: blue;
    border-style: dashed; */
  }
  .div3 { grid-area: 1 / 10 / 2 / 12; 
    /* border-color: blue;
    border-style: dashed; */
  }
  .div4 { grid-area: 1 / 9 / 5 / 13; 
    /* border-color: blue;
    border-style: dashed; */
  }
  
.locationBacking{
  width: 80%;
  margin: auto;
}

.orderBacking{
  width: 80%;
  margin: auto;
  padding-bottom: 5%;
}

.form{
  margin-top: 5%;
}

.locationGetter{
  padding-top: 5%;
}
  
.locationButton{
  margin-top: 5%;
  padding: 4%;
}

.submitButton{
  margin-top: 2%;
  margin-bottom: 5%;
}

.locationButtonDiv{
  width: 100%;
  min-height: 10%;
  height: 10%;
  border-color: blue;
  border-style: dashed;
}
          